<div class="container mt-4">
  <h1>Edit Note</h1>
<<<<<<< HEAD
  <%= render 'form_note', projet: @project, note: @note %>
=======
  <%= render 'form_note', project: @project, note: @note %>
>>>>>>> master
</div>
