.form-control {
  background-color: white;
  border-color: $red-create;
  border-radius: 5px;
}

.select {
  background-color: $red-create;
}

.container py-5 {
  padding-top: 0 !important;
}


.mb-1 {
  color: $red-create;
}

.list-group-item{
  background-color: white;
  margin-bottom: 10px;
  border: solid 1 $red-create;

}

.form-label-red{
  color: $red-create;
  font-size: 20px;
}

input.btn-task {
  background-color: $red-create;

  &:hover {
    background-color: white;
    color: $red-create;
    border: solid 1px $red-create;
  }
}

.form-select {
  background-color: white;
  padding: 0 50px 0 0;
  border: none;
}

.ts-control {
  border: solid 1px $red-create !important;
}

.no-padding-top {
  padding-top: 0 !important; /* Annule le padding-top de 3rem */
  padding-bottom: 3rem !important; /* Garde le padding-bottom si nécessaire */
}

input.btn-edit-p {
  background-color: $red-create;

  &:hover {
    background-color: white;
    color: $red-create;
    border: solid 1px $red-create;
  }
}
