.form-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  flex-wrap: wrap; /* Assure que les sections passent à la ligne sur petits écrans */
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left,
.right {
  width: 48%; /* Chaque section occupe environ la moitié de la largeur du conteneur */
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  color: #d32f2f; /* Utilisation de ta couleur personnalisée pour les labels */
  margin-bottom: 5px;
}

input,
select,
textarea {
  border: 1px solid grey;
  padding: 8px;
  border-radius: 5px;
}


.actions {
  display: flex;
  justify-content: center; /* Centrer le bouton de soumission */
  align-items: flex-end; /* Positionner le bouton en bas */
  width: 100%;
}

input[type="submit"] {
  background-color: $red-create; /* Rouge personnalisée pour le bouton */
  color: white; /* Texte en blanc */
  border: none; /* Supprimer les bordures par défaut */
  padding: 10px 20px; /* Ajouter de l'espace autour du texte */
  font-size: 16px; /* Taille de la police */

  border-radius: 5px; /* Arrondir les coins */
  cursor: pointer; /* Afficher un curseur de type pointer pour indiquer que c'est cliquable */
  transition: background-color 0.3s, transform 0.2s; /* Ajouter une transition douce pour les changements de couleur et de taille */
}

/* Effet au survol */
input[type="submit"]:hover {

  transform: scale(1.02); /* Agrandir légèrement le bouton au survol */
}








/* Responsivité pour petits écrans */
@media (max-width: 768px) {
  .form-container {
    flex-direction: column; /* Sur les petits écrans, empiler les sections */
  }

  .left,
  .right {
    width: 100%; /* Les sections prennent toute la largeur sur mobile */
  }
}
