/* SCSS pour contrôler la visibilité */
.desktop-only {
  display: none;
}

.mobile-only {
  display: none;
}

/* Desktop - Visible uniquement au-delà de 1366px */
@media (min-width: 1025px) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}

/* Mobile et tablette - Visible jusqu'à 1366px inclus */
@media (max-width: 1024px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}
