.modal {
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;

  &.show {
    background: rgba(0, 0, 0, 0.5);
  }

  &.fade {
    .modal-dialog {
      transform: translateY(20px);
      opacity: 0;
      transition: all 0.3s ease;
    }
  }
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 1rem);
  margin: 1rem auto;
  max-width: 500px !important;
  width: 90%;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.3s ease;

  .modal.show & {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-content {
  border-radius: 10px;
  border: solid 2px $red-create;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-header {
  color: $red-create;
  h5 {
    font-size: 20px;
  }
}

.modal-title.custom-modal-title {
  font-size: 2rem; /* Change la taille selon tes besoins */
}

.modal-body{
  strong {
    font-weight: normal;  /* Modifie le poids de la police */
    font-size: 1.1rem;     /* Change la taille de la police */
    color: $red-create ;     /* Change la couleur du texte */
    font-size: 1.4rem;
  }

  p{
    font-size: 1.3rem;
  }
}

.edit-task {
  background-color: none;
  color: $red-create;
}
