.note {
  overflow: hidden; /* Pour que le conteneur englobe les éléments flottants */
  margin-top: 15px;
}

.new-note {
  margin-top: 10px;
  background-color: $red-create;
  float: left; /* Fait flotter l'élément à gauche */
  width: 45%; /* Limite la largeur de .new-note */
  margin-right: 20px; /* Espacement entre new-note et all-notes */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;

  label{
    color: white;
  }

  .btn-secondary {
    background-color: none!important;
  }
}

.all-notes {
  padding: 10px;
  float: left; /* Fait flotter l'élément à gauche */
  width: 45%; /* Limite la largeur de .all-notes */


}

/* S'assurer que le conteneur prend bien en compte la mise en page flottante */
.container {
  clear: both; /* Empêche l'élément de se chevaucher avec les éléments flottants */
}

.btn.btn-warning {
  background-color: white;
  border-radius: 10px;
  color: $red-create;
  border-color: $red-create;
}

.btn.btn-danger {
  border-radius: 10px;
}

.form-control {
  margin-bottom: 15px;
}

input.btn-note {
  border: solid 1px white;
  background-color: $red-create;

  &:hover {
    background-color: white;
    color: $red-create;
  }
}

.new-note {
  p {
    color: white;
  }
}


.card-note {
  margin-bottom: 10px;


}
.card-body-note {
  margin-bottom: 5px;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition ajoutée */

  &:hover {
    transform: scale(1.03); /* Agrandissement lors du hover */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus marquée lors du hover */
  }
}

.btn-edit-note {
  border: none;
  color: $red-create;
  text-decoration: none;
  margin-left: 40px;
}
