.project-info-section {
  padding: 1.5rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  height: 20px; /* Ajustez la hauteur si nécessaire */

  .info-grid {
    display: flex;

    align-items: center; /* Centre les éléments verticalement dans la grille */
    height: 100%; /* Assurez-vous que la grille occupe toute la hauteur du parent */
  }

  .info-item {
    display: flex;
    flex-direction: row; /* Aligne les éléments sur une ligne */
    gap: 1rem; /* Espacement entre les éléments */
    align-items: center; /* Centre verticalement les éléments dans chaque item */
    margin-left: 30px;
  }

  .info-label {
    font-size: 0.875rem;
    color: #6b7280;
    text-transform: uppercase;

  }
}

  .info-value {
    font-size: 1rem;
    color: #111827;
    font-weight: 500;

    // Status colors for string values
    &.en-cours {
      color: #059669;
    }

    &.en-attente {
      color: #d97706;
    }

    &.termine {
      color: #6b7280;
    }

    // Status colors for boolean values
    &.true {
      color: #059669;
    }

    &.false {
      color: #dc2626;
    }
  }
